<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.hellofresh.challenge.tests" parallel="methods" thread-count="3">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

    <test name="All-Tests">
    <classes>
        <class name="com.hellofresh.challenge.tests.ValidateSignInTest"/>
        <class name="com.hellofresh.challenge.tests.ValidateExistingUserLoginTest"/>
        <class name="com.hellofresh.challenge.tests.ValidateCartCheckoutTest"/>
    </classes>
   </test>
</suite>